h1 {
    color:rgb(9, 81, 163);
    font-family:'Times New Roman', Times, serif;
}
body {
    background-color: rgb(190, 213, 255);
}
.text {
    color: black;
}
.header {
    color:rgb(9, 81, 163);
}