html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(240, 240, 240);
}
p {
    line-height: 24px;
    margin-bottom: 30px;
}
ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}
section {
    margin: 24px;
}

/* HEADINGS and TEXT */
h1 {
    color:rgb(41, 41, 41);
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}
.h1 {
    color:rgb(41, 41, 41);
    font-family: "Sedan", serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color:rgb(41, 41, 41);
    font-family: "Sedan", serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}
.h3 {
    color: black;
    padding-right: 16px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}
h4 {
    color: rgb(41, 41, 41);
    font-family: "Sedan", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.text {
    color: black;
    font-family: "Sedan", sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.small-text {
    color: black;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0px;
    left: 24px;
    height: 55px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 24px;
    height: 55px;
}
.footer {
    background-color: rgb(206, 230, 252);
    padding: 30px;
    padding-top: 20px;

}


/* LIST elements */
li {
    background-color: rgb(206, 230, 252);
    float: left;
    opacity: 86%;
}
a:link {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: black;
    text-decoration: line-through;
}
a:hover {
    color:rgb(129, 129, 129);
}
a:active {
    text-decoration: line-through;
}

/* CONTAINERS */
.centered-container {
    width: 500;
    height: 50px;
    margin: 50px;
    display: flex;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.main-container {
    width: 500;
    height: fit-content;
    width: fit-content;
    margin: 48px;
    display: flex;
    text-align: left;
}
.intro-container {
    width: 500;
    height: fit-content;
    width: 100%;
    padding-left: 24px;
    display: flex;
    text-align: left;
}
.right_container {
    align-content: right;
}
.icon-container {
    height: 100%;
    width: 20%;
    position: fixed;
    right: 0;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

}

